* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-image: linear-gradient(rgb(31, 30, 30), rgb(79, 73, 73));
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header img {
    max-width: 900px;
    width: 100%;
    max-height: 350px;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}





footer{
    text-align: center;
    color: rgb(187, 187, 187);
    text-shadow: 0.5px 0.5px 2px rgb(0, 0, 0);
}
#balasidekep{
    float: left;
    margin: auto;
}
#jobbasidekep{
    float: right;
    margin: auto;
}

#balaside{
    /*background-image: url('kepek/CODMW3_2011_Box1.jpg');
    background-repeat: no-repeat;
    background-attachment: inherit;
    */
    padding: 100px;
    background-color: gray;
    float: left;
}
#jobbaside{
    padding: 100px;
    background-color: gray;
    float: right;
}
aside img{
    max-width: 400px;
    width: 100%;
}